header {
    display: flex;
    flex-direction: column;
    margin-top: 57px;
    /* max-width: 40rem; */
    /* margin-inline: auto; */

    & .title {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    & .date {
        display: flex;
        margin-top: 12px;
        margin-bottom: 32px;
    }
}